@using CinemaApp.Web.ViewModels.Cinema
@model IEnumerable<CinemaIndexViewModel>

<h2 class="my-4 text-center">Manage Cinemas</h2>

<div class="d-flex justify-content-end mb-4">
    <a asp-action="Create" class="btn btn-success btn-lg">
        <i class="bi bi-plus-circle"></i> Add New Cinema
    </a>
</div>

<table class="table table-hover table-bordered">
    <thead class="table-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col" class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var cinema in Model)
    {
        <tr>
            <td>@cinema.Name</td>
            <td>@cinema.Location</td>
            <td class="text-center">
                <a asp-action="Details" asp-route-id="@cinema.Id" class="btn btn-primary btn-sm me-2">
                    <i class="bi bi-pencil-square"></i> View Program
                </a>
                <a asp-action="Edit" asp-route-id="@cinema.Id" class="btn btn-warning btn-sm me-2">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>
                <a asp-action="Delete" asp-route-id="@cinema.Id" class="btn btn-danger btn-sm">
                    <i class="bi bi-trash"></i> Delete
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>