@using CinemaApp.Services.Data.Interfaces
@using CinemaApp.Web.Infrastructure.Extensions
@using CinemaApp.Web.ViewModels.Movie
@using static CinemaApp.Common.ErrorMessages.Watchlist

@model IEnumerable<AllMoviesIndexViewModel>
@inject IManagerService managerService

@if (TempData[nameof(AddToWatchListNotSuccessfullMessage)] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData[nameof(AddToWatchListNotSuccessfullMessage)]
    </div>
}
<h2>All Movies</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Release Date</th>
        <th>Duration</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        @foreach (AllMoviesIndexViewModel movie in Model)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Genre</td>
            <td>@movie.ReleaseDate</td>
            <td>@movie.Duration minutes</td>
            <td>
                <a asp-action="Details" asp-route-id="@movie.Id" class="btn btn-info">Details</a>

                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <form asp-controller="Watchlist" asp-action="AddToWatchlist" method="post" class="d-inline">
                        <input type="hidden" name="movieId" value="@movie.Id"/>
                        <button type="submit" class="btn btn-warning">+Watchlist</button>
                    </form>

                    @if (await this.managerService.IsUserManagerAsync(this.User.GetUserId()))
                    {
                        <a asp-action="AddToProgram" asp-route-id="@movie.Id" class="btn btn-info">Add to Program</a>
                        <a asp-action="Edit" asp-route-id="@movie.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@movie.Id" class="btn btn-danger">Delete</a>
                    }
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@if (User?.Identity?.IsAuthenticated ?? false)
{
    @if (await this.managerService.IsUserManagerAsync(this.User.GetUserId()))
    {
        <a asp-action="Create" class="btn btn-primary">Add New Movie</a>
    }
}